apiVersion: monitoring.coreos.com/v1
kind: ServiceMonitor
metadata:
  name: kube-eagle
  namespace: monitoring
  labels:
    release: prometheus
spec:
  endpoints:
  - interval: 30s
    path: /metrics
    port: http
  namespaceSelector:
    matchNames:
    - kubeagle
  selector:
    matchLabels:
      app: kube-eagle
      release: kubeagle

